@use"./extend" as *;
.section2{
  
   p{
        width: 200px;
        height: 50px;
background: #fead04;
font-weight: 600;
font-size: 16px;
line-height: 1.022;
color: #fff;
padding: 5px;
    }
   
.title{
    padding: 30px 0;
  }
  .cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 20px;
    img{
        width: 300px;
        height: 200px;
      margin-left: 100px;
    }
  }
  
  .card{
    @extend .flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
  }
  .card1{
    background: url(../../img/card1_back.svg);
    background-repeat: no-repeat;
   
  }
  .card2{
    background: url(../../img/card2_back.svg);
    background-repeat: no-repeat;
   
    
  }
    .card3{
        background: url(../../img/card3_back.svg);
        background-repeat: no-repeat;
      
    }
    .card4{
        background: url(../../img/card4_back.svg);
        background-repeat: no-repeat;
       
    }
    .card5{
        background: url(../../img/card5_back.svg);
        background-repeat: no-repeat;
    
    }
    .card6{
        background: url(../../img/card6_back.svg);
        background-repeat: no-repeat;
    }
}
@media(max-width:1400px){
.section2    .cards{
        grid-template-columns: repeat(2, 1fr);
    }
}
@media(max-width:860px){
.section2 .cards>div{
  width: 135px;
height: 224px;
}
.cards p{
    width: 140px;
height: 50px;
font-size: 12px;
}
.cards .card{
    flex-direction: column;
    justify-content: end;
    align-items: end;

}
}
@media(max-width:640px){
  .section2 h1{
    font-size: 24px;
  }
  .section2 h1 .bold{
    font-size: 24px;
  }
}
@media (max-width:445px){
  .section2 .cards{
    grid-template-columns: 1fr;
}
  .section2 h1{
    font-size: 18px;
  }
   .section2 h1 .bold{
    font-size: 18px;
  }
}

// .box_items .box_left{
// width: 135px;
// height: 100px;
// text-align: center;
// flex-direction: column;
// }
// .box_items .box_left p{
//   font-size: 12px;
//   text-align: center;
// }
// .box_right{
//   width: 90px;
// height: 90px;
// }
// .box_items{
//   flex-direction: column;
//   align-items: center;
  
// }}
// @media(max-width:640px){
//   .section1 h1{
//     font-size: 24px;
//   }
//   .section1 h1 .bold{
//     font-size: 24px;
//   }
// }
// @media (max-width:445px){
//   .section1 .boxes{
//     grid-template-columns: 1fr;
// }
//   .section1 h1{
//     font-size: 18px;
//   }
//    .section1 h1 .bold{
//     font-size: 18px;
//   }
