@use "./extend.scss" as *;
.showcase {
  background: url(../../img/backround.svg);
  padding: 100px 0;

  .showcase_all {
    @extend .flex;
    .showcase_left {
      @extend .flex;
      flex-direction: column;

      h2 {
        margin-bottom: 50px;
        transform: rotate(270deg);
      }
      ul li a:hover {
        opacity: 50%;
      }
      ul {
        margin-top: 30px;
      }
    }
  }
}
.showcase_center{
h1{
font-weight: 900;
font-size: 60px;
line-height: 1.147;
text-transform: uppercase;
color: #fead04;
}
p{
font-weight: 200;
font-size: 35px;
line-height: 1.147;
color: #000;
padding: 50px 0;
border-top: 1px solid #000;
}
button{
    width: 255px;
height: 50px;
background: #fead04;
border: none;
font-weight: 700;
font-size: 16px;
line-height: 1.377;
text-align: center;
color: #fff;
}
}
@media(max-width:1100px){
    .showcase_left h2{
        display: none;
    }
.showcase_left img{
    display: none;
}
.showcase_left ul{
display: none;
}
    .showcase_all{
        flex-direction: column-reverse; 
    }
}
@media(max-width:630px){
    .showcase_center h1{
        font-size: 49px;
    }
    .showcase_center p{
font-size: 29px;
    }
}
@media(max-width:520px){
    .showcase_center h1{
        font-size: 32px;
    }
    .showcase_center p{
font-size: 18px;
padding: 30px 0;
    }
    
}
@media(max-width:370px){
    .showcase_center h1{
        font-size: 26px;
    }
    .showcase_center p{
font-size: 15px;
padding: 20px 0;
    }
}
.title{
font-weight: 200;
font-size: 50px;
line-height: 1.377;
text-transform: uppercase;
color: #000;
}
.bold{
    font-weight: 700;
font-size: 50px;
line-height: 1.377;
text-transform: uppercase;
color: #000;
}