@import url(https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;800;900&display=swap);
.flex, .section2 .card, .box_items, .box_items .box_left, .showcase .showcase_all, .showcase .showcase_all .showcase_left, .header > div, .header .header_center ul li, .header .header_center_top ul, .header .header_center_top, .header .header_center_bottom ul, .header .header_center_bottom ul .header_right, .header_right {
  display: flex;
  align-items: center;
  justify-content: center;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

a {
  font-family: "Gotham Pro", sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: #000;
  text-decoration: none;
}

ul, ol {
  list-style: none;
}

.container {
  width: 90%;
  margin: 0 auto;
}

img {
  max-width: 100%;
  height: auto;
}

.paragraph {
  font-family: "Gotham Pro", sans-serif;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.377;
  color: #000;
}

#bars {
  display: none;
}

.title {
  font-weight: 200;
  font-size: 50px;
  line-height: 1.377;
  text-transform: uppercase;
  color: #000;
}

.bold {
  font-weight: 700;
  font-size: 50px;
  line-height: 1.377;
  text-transform: uppercase;
  color: #000;
}

.header {
  padding: 30px 0;
}
.header > div {
  justify-content: space-between;
  gap: 20px;
}
.header .header_center {
  padding: 0 30px;
}
.header .header_center ul li {
  gap: 5px;
}
.header .header_center_top {
  padding: 20px 0;
  flex-direction: column;
}
.header .header_center_top ul {
  gap: 20px;
}
.header .header_center_bottom {
  padding: 20px 0;
  border-top: 1px solid rgba(0, 0, 0, 0.3);
}
.header .header_center_bottom ul li {
  width: 185px;
}
.header_right {
  gap: 30px;
}
.header_right select {
  width: 67px;
  height: 50px;
  box-shadow: 0 7px 50px 0 rgba(0, 0, 0, 0.15);
  background: #fff;
  border: none;
  font-weight: 900;
  font-size: 16px;
  color: #000;
}
.header_right .header_right_phone {
  width: 210px;
  height: 40px;
}
.header_right .header_right_phone p {
  font-weight: 300;
  font-size: 16px;
  color: #000;
}
.header_right .header_right_phone .header_right_phone_bottom a {
  font-weight: 900;
  font-size: 16px;
  color: #000;
}

@media (max-width: 1445px) {
  #bars {
    display: block;
  }
  .header_center ul {
    flex-direction: column;
  }
}
@media (max-width: 960px) {
  .header_center {
    display: none;
  }
  .header_right_phone {
    display: none;
  }
  #bars {
    display: block;
  }
  .header_left img {
    width: 99px;
    height: 43px;
  }
}
.showcase {
  background: url(../../img/backround.svg);
  padding: 100px 0;
}
.showcase .showcase_all .showcase_left {
  flex-direction: column;
}
.showcase .showcase_all .showcase_left h2 {
  margin-bottom: 50px;
  transform: rotate(270deg);
}
.showcase .showcase_all .showcase_left ul li a:hover {
  opacity: 50%;
}
.showcase .showcase_all .showcase_left ul {
  margin-top: 30px;
}

.showcase_center h1 {
  font-weight: 900;
  font-size: 60px;
  line-height: 1.147;
  text-transform: uppercase;
  color: #fead04;
}
.showcase_center p {
  font-weight: 200;
  font-size: 35px;
  line-height: 1.147;
  color: #000;
  padding: 50px 0;
  border-top: 1px solid #000;
}
.showcase_center button {
  width: 255px;
  height: 50px;
  background: #fead04;
  border: none;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.377;
  text-align: center;
  color: #fff;
}

@media (max-width: 1100px) {
  .showcase_left h2 {
    display: none;
  }
  .showcase_left img {
    display: none;
  }
  .showcase_left ul {
    display: none;
  }
  .showcase_all {
    flex-direction: column-reverse;
  }
}
@media (max-width: 630px) {
  .showcase_center h1 {
    font-size: 49px;
  }
  .showcase_center p {
    font-size: 29px;
  }
}
@media (max-width: 520px) {
  .showcase_center h1 {
    font-size: 32px;
  }
  .showcase_center p {
    font-size: 18px;
    padding: 30px 0;
  }
}
@media (max-width: 370px) {
  .showcase_center h1 {
    font-size: 26px;
  }
  .showcase_center p {
    font-size: 15px;
    padding: 20px 0;
  }
}
.section1 {
  margin: 50px 0;
}
.section1 h1 {
  padding: 30px 0;
}
.section1 .boxes {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 20px;
}

.box1 {
  background: url(../../img/box1_back.svg);
  background-repeat: no-repeat;
}
.box1 .box_items {
  margin-top: 30px;
}
.box1 p {
  width: 250px;
}

.box2 {
  background: url(../../img/box2_back.svg);
  background-repeat: no-repeat;
}
.box2 p {
  width: 280px;
}
.box2 .box_items {
  margin-top: 15px;
}

.box3 {
  background: url(../../img/box3_back.svg);
  background-repeat: no-repeat;
}

.box4 {
  background: url(../../img/box4_back.svg);
  background-repeat: no-repeat;
}
.box4 p {
  width: 250px;
}
.box4 .box_items {
  margin-top: 30px;
}

.box5 {
  background: url(../../img/box5_back.svg);
  background-repeat: no-repeat;
}
.box5 .box_items {
  margin-top: 25px;
}

.box6 {
  background: url(../../img/box6_back.svg);
  background-repeat: no-repeat;
}
.box6 .box_items {
  margin-top: 15px;
}

.box_items .box_left {
  background-color: #fff;
  width: 382px;
  height: 111px;
}
.box_items .box_left p {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.377;
  color: #000;
}

@media (max-width: 1270px) {
  .section1 .boxes {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 860px) {
  .section1 .boxes > div {
    width: 135px;
    height: 224px;
  }
  .box_items .box_left {
    width: 135px;
    height: 100px;
    text-align: center;
    flex-direction: column;
  }
  .box_items .box_left p {
    font-size: 12px;
    text-align: center;
  }
  .box_right {
    width: 90px;
    height: 90px;
  }
  .box_items {
    flex-direction: column;
    align-items: center;
  }
}
@media (max-width: 640px) {
  .section1 h1 {
    font-size: 24px;
  }
  .section1 h1 .bold {
    font-size: 24px;
  }
}
@media (max-width: 445px) {
  .section1 .boxes {
    grid-template-columns: 1fr;
  }
  .section1 h1 {
    font-size: 18px;
  }
  .section1 h1 .bold {
    font-size: 18px;
  }
}
.section2 p {
  width: 200px;
  height: 50px;
  background: #fead04;
  font-weight: 600;
  font-size: 16px;
  line-height: 1.022;
  color: #fff;
  padding: 5px;
}
.section2 .title {
  padding: 30px 0;
}
.section2 .cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 20px;
}
.section2 .cards img {
  width: 300px;
  height: 200px;
  margin-left: 100px;
}
.section2 .card {
  flex-direction: column;
  justify-content: start;
  align-items: start;
}
.section2 .card1 {
  background: url(../../img/card1_back.svg);
  background-repeat: no-repeat;
}
.section2 .card2 {
  background: url(../../img/card2_back.svg);
  background-repeat: no-repeat;
}
.section2 .card3 {
  background: url(../../img/card3_back.svg);
  background-repeat: no-repeat;
}
.section2 .card4 {
  background: url(../../img/card4_back.svg);
  background-repeat: no-repeat;
}
.section2 .card5 {
  background: url(../../img/card5_back.svg);
  background-repeat: no-repeat;
}
.section2 .card6 {
  background: url(../../img/card6_back.svg);
  background-repeat: no-repeat;
}

@media (max-width: 1400px) {
  .section2 .cards {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 860px) {
  .section2 .cards > div {
    width: 135px;
    height: 224px;
  }
  .cards p {
    width: 140px;
    height: 50px;
    font-size: 12px;
  }
  .cards .card {
    flex-direction: column;
    justify-content: end;
    align-items: end;
  }
}
@media (max-width: 640px) {
  .section2 h1 {
    font-size: 24px;
  }
  .section2 h1 .bold {
    font-size: 24px;
  }
}
@media (max-width: 445px) {
  .section2 .cards {
    grid-template-columns: 1fr;
  }
  .section2 h1 {
    font-size: 18px;
  }
  .section2 h1 .bold {
    font-size: 18px;
  }
}

/*# sourceMappingURL=style.css.map */
